.likes-dislikes {
  display: flex;
  justify-content: center;
}

.like-count,
.dislike-count {
  margin: 0 1.75rem;
}

.like-btn,
.dislike-btn {
  margin: 1rem 1rem 0 1rem;
  border: none;
  background-color: transparent;
}
