@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.main {
  flex: 0.5;
}

.post {
  display: flex;
  align-items: center;
  background-color: #545454;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.text-inp {
  margin: 5px 0 5px 1rem;
  padding-right: 7.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.post-btn {
  border: none;
  background-color: #2851a3;
  margin-top: 5rem;
  margin-left: 2rem;
  padding: 10px 2rem;
  border-radius: 10px;
  color: lightgray;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
}

.post-btn:hover {
  background-color: #203e7a;
}

.main-post {
  background-color: whitesmoke;
  margin: 1.5rem 0 1.5rem 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
}

.post-header {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.post-header > h2 {
  margin: auto 1rem;
}

.post-content {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.post-icons {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.post-icon-up:hover {
  color: green;
}

.post-icon-down:hover {
  color: red;
}
