@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.main {
  flex: 0.5;
}

.post {
  display: flex;
  align-items: center;
  background-color: #545454;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.post-btn {
  border: none;
  background-color: #dad0c2;
  margin-top: 5rem;
  margin-left: 2rem;
  padding: 10px 2rem;
  border-radius: 10px;
  color: #18191a;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
}

.post-btn:hover {
  background-color: #fdefef;
}

.main-post {
  background-color: whitesmoke;
  margin-top: 1.5rem;
  margin-left: 1.75rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.post-header {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.post-header > h2 {
  margin: auto 1rem;
}

.post-content {
  font-size: 2rem;
  padding: 2rem 0 2rem 2rem;
  border-bottom: 1px solid black;
}
