.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0.5rem 2.5rem;
  flex: 1;
  background-color: #373737;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.nav-comp {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-left: 2rem;
  font-weight: 600;
  padding-top: 10px;
}
