.side-comp {
  padding: 1rem;
  flex: 0.2;
}

.side-item {
  display: flex;
  padding: 1rem 0;
  margin-left: 2rem;
  color: white;
}

.side-item:hover {
  background-color: #fdefef;
  color: black;
  border-radius: 10px;
  padding: 1rem;
}

.side-icon {
  margin-right: 1rem;
}
